body {
    font-family: 'Anonymous Pro', sans-serif;
    background-color: #000;
    color: white;
    margin: 0;
    padding: 0;
    justify-items: center; 
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
}

/* Project navigation buttons */
.works h1,
.works h2,
.works h3,
.works h4 {
    background-color: #3fe0d0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.works h1:hover,
.works h2:hover,
.works h3:hover,
.works h4:hover {
    box-shadow: 8px 8px 0 #fde843 !important;
}
.content {
    height: auto; 
    overflow-y: auto;
}

html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    cursor: auto;
}

a:hover, button:hover, .clickable:hover {
    cursor: pointer;
}

.page1 {
    display: grid;
    grid-template-rows: auto auto auto auto ;
    gap: 5rem; 
    padding:0;
    justify-items: center; 
    align-items: center;
    text-align: center;
    margin: 0;
    max-width: 100vw;
}


.letters-row {
    display: flex;               
    justify-content: center;     
    align-items: center;       
    flex-wrap: nowrap;              
    width: 100%;                 
    max-width: 100vw;             
    box-sizing: border-box;      
    grid-row: 1;
}
.a-image {
    width: 8rem;
    height: auto;
    display: inline-block;
    animation: shake 1s infinite ease-in-out; 
}

/* Áp dụng animation cho .a1-image */
.a1-image {
    width: 7rem;
    height: auto;
    display: inline-block;
    animation: shake 1s infinite ease-in-out; 
}

.svg-container {
    width: 10rem;
    height: auto;
    display: inline-block;
}

#Layer_1 {
    width: 15rem;
    height: auto;
    z-index: 1;
    transform: translateX(-3.5rem)translateY(1rem);
}
#Layer_2 {
    width: 5rem;
    height: auto;
    z-index: 2;
    transform: translateX(3rem) translateY(-7rem);
}


.b-image {
    width: 6rem;
    height: auto;
    transform: translateY(4rem) translateX(-1rem);
}

.r-image {
    width: 4rem;
    height: auto;
    transform: translateY(2rem) translateX(0rem);
    z-index: 2;
}


.c-image {
    width: 6rem;
    transform: translateY(2rem);
}

.t-image {
    width: 2.5rem;
}
.footer {
    
    color: white;                
    text-align: center;         
    font-size: 1.5rem;           
    font-weight: 400;           
    width: 100%;                 
}
.marquee-container {
    grid-row: 3; 
    background-color: #223F93;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 100;
}

.marquee {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 10s linear infinite;
}

.marquee span {
    font-size: 24px;
    color: #fff; 
    font-family: 'Anonymous Pro', monospace; 
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
.works {
    display: flex;
    justify-content: space-around; 
    align-items: center;           
    padding: 1rem;                 
    color: white;                  
    flex-wrap: wrap;               
    text-align: center;            
}

.works h1, .works h2, .works h3, .works h4 {
    margin: 5rem;                      
    padding: 1rem 2rem;             
    font-size: 1.5rem;              
    background-color: #223F93;      
    color: white;                   
    border-radius: 1rem;            
    text-align: center;             
}
a {
    text-decoration: none;       
    color: inherit;              
    display: inline-block;       
}

.works h1:hover,
.works h2:hover,
.works h3:hover,
.works h4:hover {
    box-shadow: 8px 8px 0px #EA1C24; 
    transition: box-shadow 0.3s ease; 
    border-radius: 1rem;             
}


#Layer_1 .cls-1 {
    stroke-dasharray: 1000;      
    stroke-dashoffset: 1000;     
    animation: draw 5s forwards ease-out infinite; 
}


#Layer_2 .cls-1 {
    stroke-dasharray: 1000;      
    stroke-dashoffset: 1000;     
    animation: draw 5s forwards ease-out infinite; 
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;    
    }
}
.play-button-image {
    cursor: pointer;
}

.logos-row {
    display: flex;
    justify-content: center;
    gap: 2rem; 
    grid-row: 4;
}

.logo img {
    width: 8rem; 
    height: auto;
    transition: transform 0.3s ease;
}
.logo img:hover {
    transform: scale(1.1); 
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(5deg); }
    100% { transform: rotate(0deg); }
}

.content-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 1rem;                
    overflow: visible;        
    padding: 5rem;
}


.text-section {
    grid-column: 1;
    text-align: justify;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0 ;

}



.image-section {
    position: relative;    
    width: 100%;        
    height: auto;
    display: flex;          
    justify-content: center;
    align-items: center;
    grid-column: 2;
}


.background-image {
    width: 70%;           
    height: auto;
    display: block;
}


.account-image {
    width: 60%;             
    height: auto;
    position: absolute;
    top: 50%;               
    left: 50%;             
    transform: translate(-50%, -50%); 
    z-index: 2;             
}

.bung-no-image {
    width: 30%;
    max-width: 5rem;
    position: absolute;
    bottom: 3rem;          
    left: 3rem;            
    z-index: 1;           
}

.ghim-image {
    width: 4rem;
    position: absolute;
    top: -1rem !important;             
    right: 15rem;           
    z-index: 3;             
}
.page2 {
    display: grid;
    grid-template-rows: auto auto;    
    grid-template-columns: 1fr;        
    gap: 5rem;                        
    justify-items: left;            
    padding: 3rem;
    width: 100%;
}
.letters-row2 {
    display: flex;
    justify-content: flex-start; 
    align-items: center;         
    padding-left: 5rem;            
    margin-left: 0;              
    width: 100%;                
    justify-items: start;
}


.v-image {
    width: 10rem !important;           
    transform: rotate(-5deg);
    animation: shake 1s infinite alternate;
    transform-origin: center;
}
@keyframes shake {
    0% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(-5deg);
    }}
.i-image {
    width: 3rem !important;
    transform: translateY(4rem)translateX(-2rem) rotate(15deg); 
}

#Layer_3 {
    width: 10rem !important;
    height: auto;
    transform: scale(1.2) rotate(10deg); 
}

.o-image {
    width: 8.5rem;
    transform: translateX(-2rem)translateY(1.5rem); 
    position: relative;
}
.cls-1 {
    fill: none;
    stroke: #fbb03b;
    stroke-miterlimit: 10;
    stroke-width: 2px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 3s forwards ease-in-out infinite;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}



.video-container {
    width: 80%;               
    height: auto;             
    overflow: hidden;         
    position: relative;
    margin: 2rem auto;       
}


.video-wrapper {
    display: flex;              
    animation: scroll 20s linear infinite;

}


.video-item {
    width: 20vw;               
    height: 100%;              
    object-fit: cover;          
    margin-right: 1rem;         
}

.cta-text {
    font-family: 'Bernard MT Condensed', sans-serif;
    color: white;
    text-align: center;
    margin-top: 1rem;
    font-size: 1.5rem;
}
.cta-link {
    color: white; 
    text-decoration: underline;
    font-family: 'Bernard MT Condensed', sans-serif;
}

.cta-link:hover {
    color: #223F93; 
    text-decoration: none; 
}
.comeback-icon {
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 6rem;
    height: auto;
    transition: transform 0.3s ease;
    cursor: pointer;
    z-index: 200;
}


.comeback-icon:hover {
    content: url('../assets/images/comeback1.png');
    transform: scale(1.1); 
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .content-container {
        grid-template-columns: 1fr;  
        grid-gap: 2rem;               
        padding: 2rem;                 
    }

    .text-section, 
    .image-section {
        grid-column: 1;           
    }
.text-section {
    display: flex;
    justify-content: center;
    text-align: justify;
    max-width: 50rem;
    margin: 0 auto;
    line-height: 2rem;
    font-size: 1.5rem
}
    .image-section {
        justify-content: center;    
    }
    .works {
        display: flex;
        flex-direction: column;         
        align-items: center;            
        gap: 1rem;                    
        padding: 2rem 1rem;         
        text-align: center;
    }
    
    .works h1,
    .works h2,
    .works h3,
    .works h4 {
        width: 20rem;                   
        padding: 1rem 2rem;          
        font-size: 1.5rem;            
        background-color: #223F93;    
        color: white;                  
        border-radius: 1rem;       
        text-align: center;          
        box-shadow: 8px 8px 0px #EA1C24;
    }
    .content-creator {
        width: 20rem;                  
        padding: 1rem 2rem;            
        font-size: 1.5rem;              
        background-color: #223F93;     
        color: white;                   
        border-radius: 1rem;            
        text-align: center;           
        box-shadow: 8px 8px 0px #EA1C24;
    }        
    .cta-link {
        color: #EA1C24; 
        font-family: 'Bernard MT Condensed', sans-serif;
    }
    
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape) {
    .works {
        display: flex;
        flex-direction: column;       
        align-items: center;            
        gap: 1rem;                     
        padding: 2rem 1rem;             
        text-align: center;             
    }
    .works h1,
    .works h2,
    .works h3,
    .works h4 {
        width: 20rem;                  
        padding: 1rem 2rem;             
        font-size: 1.5rem;             
        background-color: #223F93;      
        color: white;                  
        border-radius: 1rem;           
        text-align: center;            
        box-shadow: 8px 8px 0px #EA1C24;
    }
    
    
    .content-creator {
        width: 20rem;                   
        padding: 1rem 2rem;            
        font-size: 1.5rem;              
        background-color: #223F93;      
        color: white;                 
        border-radius: 1rem;          
        text-align: center;            
        box-shadow: 8px 8px 0px #EA1C24;
    }        
    .cta-link {
        color: #EA1C24; 
        font-family: 'Bernard MT Condensed', sans-serif;
    }

}
@media only screen and (max-width: 430px) and (orientation: portrait) {
            
            body, html {
                margin: 0;
                padding: 0;
                max-width: 100vw;
                overflow-x: hidden;
                box-sizing: border-box;
            }
        
            /* Container chính */
            .content-container {
                display: flex;
                flex-direction: column; 
                align-items: center; 
                width: 100%; 
                max-width: 100%; 
                gap: 1rem; 
                padding: 1rem;
                box-sizing: border-box; 
            }
            
            .text-section {
                max-width: 90%;
                text-align: justify; 
                font-size: 1rem; 
                line-height: 1.5rem; 
                margin: 0 auto; 
            }
            
            .image-section {
                display: flex;
                flex-direction: column; 
                align-items: center;
                justify-content: center;
                width: 100%;
                max-width: 100%;
                position: relative;
            }
            
            .background-image {
                width: 100%;
                max-width: 100%;
                height: auto;
                object-fit: cover;
                position: relative;
                z-index: 1;
            }
            
            .account-image {
                width: 90%; 
                height: auto; 
                position: absolute;
                z-index: 2;
                left: none;

            }
            
            /* Phần Works */
            .works {
                display: flex;
                flex-direction: column; 
                align-items: center;
                gap: 1rem; 
                padding: 1rem 0; 
                text-align: center; 
            }
        
            /* Footer */
            .footer {
                color: white; 
                text-align: center;
                font-size: 0.8rem; 
                font-weight: 400; 
                width: 100%; 
                padding: 0.5rem 0; 
            }
        
            /* Logo */
            .logos-row {
                display: flex;
                justify-content: center;
                gap: 1rem; 
            }
        
            .logo img {
                width: 4rem; 
                height: auto;
                transition: transform 0.3s ease;
            }
        
            .letters-row2 {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%; 
            }
        
            .letter2 img,
            .letter2 svg {
                width: 4rem; 
                height: auto;
            }
            .i-image {
                width: 2rem !important;
                position: relative;
                top: -2rem;
            }
            .v-image {
                position: relative;
                left: -1.5rem ;
                width: 4.5rem !important;
            }
            #Layer_3 {
                width: 5rem !important;
                height: auto;
                transform: scale(1.2) rotate(10deg);
                position: relative;
                left: -1rem;
            }
            .a1-image {
                width: 4rem;
                height: auto;
                display: inline-block;
                transform: translateX(-1rem) !important;
                animation: shake 1s infinite ease-in-out;
            }
            .a-image {
                width: 4rem;
                height: auto;
                display: inline-block;
                animation: shake 1s infinite ease-in-out; 
            }
            
            .svg-container {
                width: 8rem;
                height: auto;
                display: inline-block;
            }
            
            #Layer_1 {
                width: 8rem;
                height: auto;
                z-index: 1;
                transform: translateX(-2rem)translateY(1rem);
            }
            #Layer_2 {
                width: 3rem;
                height: auto;
                z-index: 2;
                transform: translateX(-0.5rem) translateY(-3rem);
            }
            .b-image {
                width: 3rem;
                height: auto;
                transform: translateY(2rem) translateX(-1rem);
            }
            
            .r-image {
                width: 2rem;
                height: auto;
                transform: translateY(2rem) translateX(-2rem);
                z-index: 2;
            }
            .c-image {
                width: 2rem;
                transform: translateY(2rem);
            }
            .letter2 img,
.letter2 svg {
    width: 5rem;               
    height: auto;
}
#Layer_3 {
    width: 5rem !important;
    height: auto;
    transform: scale(1.2) rotate(10deg); 
    position: relative;
    left: -1rem;
}
            .t-image {
                width: 1rem;
            }
            .footer {
                color: white;          
                text-align: center;    
                font-size: 1rem !important;    
                font-weight: 400;    
                width: 100%;          
                padding: 1rem 0;       
                margin-top: auto;
            }
            
         
            .works {
                gap: 0.5rem;                      
                padding: 1rem 0.5rem;            
            }
            
    
            .works h1,
            .works h2,
            .works h3,
            .works h4 {
                width: 16rem;                  
                font-size: 1rem;              
                padding: 0.8rem 1.5rem;       
                border-radius: 0.8rem;         
                box-shadow: 5px 5px 0px #EA1C24;
            }
            
            /* Định dạng cho phần tử Content Creator */
            .content-creator {
                width: 16rem;                  
                font-size: 1rem;             
                padding: 0.8rem 1.5rem;       
                border-radius: 0.8rem;        
                box-shadow: 5px 5px 0px #EA1C24;
            }    
            .cta-text {
                font-family: 'Bernard MT Condensed', sans-serif;
                color: white;
                text-align: center;
                margin-top: 1rem;
                font-size: 1rem;
            }
            .cta-link {
                color: #EA1C24;
                font-family: 'Bernard MT Condensed', sans-serif;
            }
        }
        @media only screen and (max-width: 932px) and (orientation: landscape){
  
            .works {
                display: flex;
                flex-direction: column;         
                align-items: center;            
                gap: 1rem;                    
                padding: 2rem 1rem;            
                text-align: center;            
            }
            
            /* Định dạng đồng đều cho các heading */
            .works h1,
            .works h2,
            .works h3,
            .works h4 {
                width: 20rem;                   
                padding: 1rem 2rem;             
                font-size: 1.5rem;              
                background-color: #223F93;      
                color: white;                 
                border-radius: 1rem;            
                text-align: center;           
                box-shadow: 8px 8px 0px #EA1C24;
            }
            
            /* Định dạng cho phần tử Content Creator */
            .content-creator {
                width: 20rem;                   
                padding: 1rem 2rem;           
                font-size: 1.5rem;             
                background-color: #223F93;     
                color: white;                   
                border-radius: 1rem;        
                text-align: center;          
                box-shadow: 8px 8px 0px #EA1C24;
            }     
            body, html {
                margin: 0;
                padding: 0;
                overflow-x: hidden;
                max-width: 100vw;
                box-sizing: border-box;
                overflow-x: hidden;
            }
              .footer {
                  color: white;
                  text-align: center;
                  font-size: 1rem !important; 
                  font-weight: 400;   
                  width: 100%;      
                  padding: 1rem 0;    
                  margin-top: auto;
              }  
              .cta-text {
                font-family: 'Bernard MT Condensed', sans-serif;
                color: white;
                text-align: center;
                margin-top: 1rem;
                font-size: 1rem;
            }
            .text-section {
                grid-column: 1;
                text-align: justify;
                font-size: 1rem;
                line-height: 2rem;
                margin: 0 ;
            
            }
            .cta-link {
                color: #EA1C24;
                font-family: 'Bernard MT Condensed', sans-serif;
            }}
    
